body {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prontuario {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 1rem 3rem;
  width: 70%;
  border-radius: 10px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

.inputs-formulario {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 70%;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
label {
  font-size: 20px;
  width: 15%;
}

input {
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 10px;
  flex: 1;
  border: 1px solid #c4c4c4;
}

.botao-formulario {
  font-size: 16px;
  width: 20%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: transparent;
  background-color: #9cd6c8;
}

.botao-formulario:hover {
  background-color: #66968a;
  cursor: pointer;
}

.avatar {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 80%;
}

.balao {
  position: absolute;
  bottom: 150px;
  right: 20px;
  max-width: 250px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 16px;
  word-wrap: break-word;
  display: none;
  z-index: 1;
}

.balao::before {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 60px;
  border-width: 10px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}

@media (max-width: 900px) {
  .inputs-formulario {
    width: 100%;
  }

  label {
    width: 25%;
  }

  .avatar {
    bottom: 20px;
    right: 50px;
    width: 70px;
    height: 70px;
  }

  .balao{
    bottom: 100px;
  }
}
